/AGN_features.npy
/AGN_ids.npy
/AGN_types.npy
/CART_features.npy
/CART_ids.npy
/CART_types.npy
/Cepheid_features.npy
/Cepheid_ids.npy
/Cepheid_types.npy
/d-Sct_features.npy
/d-Sct_ids.npy
/d-Sct_types.npy
/dwarf-nova_features.npy
/dwarf-nova_ids.npy
/dwarf-nova_types.npy
/EB_features.npy
/EB_ids.npy
/EB_types.npy
/ILOT_features.npy
/ILOT_ids.npy
/ILOT_types.npy
/KN_B19_features.npy
/KN_B19_ids.npy
/KN_B19_types.npy
/KN_K17_features.npy
/KN_K17_ids.npy
/KN_K17_types.npy
/Mdwarf-flare_features.npy
/Mdwarf-flare_ids.npy
/Mdwarf-flare_types.npy
/PISN_features.npy
/PISN_ids.npy
/PISN_types.npy
/RRL_features.npy
/RRL_ids.npy
/RRL_types.npy
/SLSN-I+host_features.npy
/SLSN-I+host_ids.npy
/SLSN-I+host_types.npy
/SLSN-I_no_host_features.npy
/SLSN-I_no_host_ids.npy
/SLSN-I_no_host_types.npy
/SNIa-91bg_features.npy
/SNIa-91bg_ids.npy
/SNIa-91bg_types.npy
/SNIa-SALT2_features.npy
/SNIa-SALT2_ids.npy
/SNIa-SALT2_types.npy
/SNIax_features.npy
/SNIax_ids.npy
/SNIax_types.npy
/SNIb+HostXT_V19_features.npy
/SNIb+HostXT_V19_ids.npy
/SNIb+HostXT_V19_types.npy
/SNIb-Templates_features.npy
/SNIb-Templates_ids.npy
/SNIb-Templates_types.npy
/SNIcBL+HostXT_V19_features.npy
/SNIcBL+HostXT_V19_ids.npy
/SNIcBL+HostXT_V19_types.npy
/SNIc+HostXT_V19_features.npy
/SNIc+HostXT_V19_ids.npy
/SNIc+HostXT_V19_types.npy
/SNIc-Templates_features.npy
/SNIc-Templates_ids.npy
/SNIc-Templates_types.npy
/SNIIb+HostXT_V19_features.npy
/SNIIb+HostXT_V19_ids.npy
/SNIIb+HostXT_V19_types.npy
/SNII+HostXT_V19_features.npy
/SNII+HostXT_V19_ids.npy
/SNII+HostXT_V19_types.npy
/SNIIn+HostXT_V19_features.npy
/SNIIn+HostXT_V19_ids.npy
/SNIIn+HostXT_V19_types.npy
/SNII-NMF_features.npy
/SNII-NMF_ids.npy
/SNII-NMF_types.npy
/SNIIn-MOSFIT_features.npy
/SNIIn-MOSFIT_ids.npy
/SNIIn-MOSFIT_types.npy
/SNII-Templates_features.npy
/SNII-Templates_ids.npy
/SNII-Templates_types.npy
/TDE_features.npy
/TDE_ids.npy
/TDE_types.npy
/uLens-Binary_features.npy
/uLens-Binary_ids.npy
/uLens-Binary_types.npy
/uLens-Single-GenLens_features.npy
/uLens-Single-GenLens_ids.npy
/uLens-Single-GenLens_types.npy
/uLens-Single_PyLIMA_features.npy
/uLens-Single_PyLIMA_ids.npy
/uLens-Single_PyLIMA_types.npy
/names.txt
